{{#if hasBlock}}
  {{yield this}}
{{else}}
  <form class="hypersearch" {{action "commit" on="submit"}}>
    {{one-way-input
        class="hypersearch-input"
        name="query"
        type="text"
        placeholder=placeholder
        update=(action "search")
        autocomplete="off"
        onblur=(action 'clear')
    }}
    {{#if resultsAreAvailable}}
      <ul class="hypersearch-results">
        {{#each results as |result|}}
          <li class="hypersearch-result" {{action "selectResult" result on="mouseDown"}}>
            <span>
              {{#if resultKey}}
                {{formatResult format (get result resultKey) }}
              {{else}}
                {{#if format}}
                  {{formatResult format result}}
                {{else}}
                  {{result}}
                {{/if}}
              {{/if}}
            </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </form>
{{/if}}
